/* CSS declarations go here */

/* latin-ext */

body {
    background: url(body.png); 
    font-family: 'Pathway Gothic One', sans-serif !important;
} 
.container {
    margin: 15px auto;
    max-width:600px;
    font-size:16px;
    color:#555;
}

.container-footer {
    text-align: right;
}

.page-header {
    margin-bottom: 0 !important;
    margin-top:0 !important;
    top:-35px !important;
    position: relative;
    border-bottom: 1px dotted lightgray !important; 
}

.page-header, .modal-header, .page-footer {
    text-shadow:1px 1px 1px #fff !important;
}

.page-body {
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    0 1px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow:         0 1px 3px 0px rgba(0, 0, 0, 0.4);   
    background: #fafafa; 
    padding:15px;
    border-radius: 4px;
}

.page-body p:last-child {
    margin-bottom:0 !important;
}

.page-footer {
    padding: 10px;
    color:#ccc;
}

label, input, select {
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 12px !important;
    width:auto;
}

input[type="submit"] {
    background-color: #f5f5f5;
    color:#333;
}

.pointer {
    cursor: pointer;
}

#logo {
     font-size:4em;
     color:#ddd;
}

.item .panel-heading {
    padding:0;
}

.item-inner {
    padding: 10px 15px;
}

.item-inner .glyphicon {
    padding-top: 2px;
}

.item a, .item a:hover, .item a:active, .item a:visited, .item a:focus {
    color:#333;
    text-decoration:none;
}

.text-light {
    color:lightgray
}

h1 {
    color:lightgray !important;
}
h3 {
    border-top:1px dotted lightgray;
    padding-top: 10px;
    color:lightgray !important;
}

.padded-item-horizontal {
    padding-left:12px;
    padding-right:12px;
}

.padded-item-vertical {
    padding-top:6px;
    padding-bottom:6px;
}

table.dataTable > tbody > tr {
    background-color: transparent;
}

.person .glyphicon.glyphicon-user {
    padding-right: 6px;
}
.person .delete-person {
    padding-top: 4px;
}

.break {
    word-wrap: break-word;
}

#urlContainer {
    position: relative;
    padding: 10px 50px;
}
#url {
    border: 0;
    background: inherit
}
#url:focus {
    background-color: white;
}
.mark-url {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  font-size: 0.9em;
  color: #767676;
  background-color: #fff;
  border-left: 1px solid #e1e1e8;
  border-bottom: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

.modal-header {
    background: url(body.png); 
}
.modal-header .close {
    margin-top:6px !important; /* No need for this */
}
.modal-footer {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px dotted lightgray !important; 
}
.modal-content h3 {
    border:none;
    padding:0;
}
.modal-content {
    overflow:hidden;
    background: #fafafa;
}
.modal-content p:last-child {
    margin-bottom:0;
}

.form-control {
    font-size:1em;
    font-weight: normal;
}

table.dataTable > tbody > tr {
    background-color: transparent !important; /* No need for this */
}
table.dataTable > tbody > tr:first-child > td {
    border-top: none;
} 
table.dataTable > thead > tr > th:first-child,
table.dataTable > tbody > tr > td:first-child,
table.dataTable > tfoot > tr > th:first-child {
    padding-left:0px;
}
table.dataTable > thead > tr > th:last-child,
table.dataTable > tbody > tr > td:last-child,
table.dataTable > tfoot > tr > th:last-child {
    padding-right:0px;
}
table.dataTable > thead > tr > th {
    color:lightgray;
    padding:10px;
}
table.dataTable > tfoot > tr > th {
    padding:10px;
    font-size: 1.5em;
}

svg tspan {
    font-family: 'Pathway Gothic One', sans-serif !important;
    font-size:14px;
    fill:#555;
}

.social-container {
    border-bottom: 1px dotted lightgray;
    margin-bottom: 35px;
}

.social-container a {
    margin: 15px 20px;
    text-decoration: none;
    color: #ccc;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #fff;
}

.social-container a:hover {
    color: #666;
}